@model Login

<div class="login-wrapper">
    <div class="login-box">

        <img src="~/imagens/globoclima.jpg" alt="Globo Clima" width="170" height="140" />
        <br />
        <h3 style="color:#2344A0">Globo Clima</h3>
        <br />
        <form asp-action="Login" asp-controller="Auth" method="post">
            <input asp-for="Email" name="Email" placeholder="Email" />
            <input asp-for="Senha" name="Senha" type="password" placeholder="Senha" />
            <button type="submit">Entrar</button>
        </form>

    </div>
</div>


